<script setup>
import { Link } from '@inertiajs/vue3';

defineProps({
    routename: String,
});

</script>


<template>
    <div class="flex justify-center">
        <Link :href="route(routename)">
        <button class="button-color button-font margin-around clay main-button ">
            <slot />    
        </button>
        </Link>
    </div>
    
</template>    

    <script>

        export default {
            name: "MainButton"
        }       

    </script>
    
    <style scoped>

        button{
            border-radius: 10px;
            width: 100%;
            min-width: 300px;
            height: 54px;
        }

        .margin-around{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .button-color{
            color: var(--main-white);
            background: var(--second-color);
            border: 2px solid var(--third-40);
        }

        .button-font{
            text-transform: uppercase;
            font-weight: 600;
            font-size: 14px;
        }

    </style>